html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background: #eee;
}

body {
  color: #333;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

main {
  font-size: 0.9rem;
  background: #fff;
  padding: 10px 50px 50px 50px;
  margin-bottom: 100px;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin-bottom: 0.4rem;
}
.intro {
  margin: 20px 0px;
  color: gray;
}

button,
input,
select {
  padding: 5px 10px;
  border: solid 1px lightgray;
}
button {
  margin: 0px 10px;
}
input {
  width: 80px;
}
.values-long {
  width: 70%;
}
